# Project-01-2019.20

#1_0Description

In diesem Projekt geht gibt es zwei Szenen zwischen denen man hin und her switchen kann, indem man auf den Button in der Mitte drückt.
Zudem gibt es 2 Flächen. Wenn mann mit dem Cursor über das Obere Objekt hovert, ändert sich der Zähler.
Wenn man Space drückt, ändert sich random die Farbe der unteren Fläche. 

#1_1Development Platform

Diese Projekt wurde auf einem MacBook Pro (late 2015) mit der macOS Version 10.14.6 erstellt. 
Unity Version 2019.1.14f1
Die Scripts wurden kopiert von TWanghofer und verwendet in Visual Studio
Die Target Platform ist webGL
Referenz Auflösung: 1280px x 720px

Erstelle ein Unity Projekt welches mit git via ssh Authentifizierung auf GitHub versioniert ist: DONE

2 Szenen enthalten: DONE

einen Butten: wenn dieser betätigt wird sollte ein Szenenwechsel passieren: DONE

einen Tastendruck (Leertaste): sobald die Leertaste gedrückt wird sollte sich auf einem Canvas zufällig die Farbe ändern: DONE

ein weiteres Canvas mit einem Textelement welches anzeigt wie oft man mit der Maus über das Canvas hovered: DONE


®copyright bei Julian Propst

#1_1Screenshots

./Images/Bildschirmfoto 2019-10-02 um 12.57.40.png

./Images/Bildschirmfoto 2019-10-02 um 12.58.06.png

./Images/Bildschirmfoto 2019-10-02 um 12.59.20.png

./Images/Bildschirmfoto 2019-10-02 um 12.59.52.png



#2_0Commits

#2_1Commit 1, September 25

Unity Prjekt wurde angelegt sowie ein Repository auf Github.

#2_2Commit 2, October 2

Project wurde fertiggestellt und alles was funktionieren soll, funktioniert.

Project-01/.vs/.DS_Store
Project-01/.vs/Project-01/.DS_Store
